/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.background {
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.circle {
    position: absolute;
    border: 8px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 290px;
    height: 90px;
    top: 475px;
    animation: rotate 4s linear infinite;
    transform: translateX(-50%);
    pointer-events: none;
}

@keyframes rotate {
  from {
      transform: translateX(-50%) rotate(0deg);
  }
  to {
      transform: translateX(-50%) rotate(360deg);
  }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-container {
    min-height: 70px;
}
